<ng-container *ngIf="check_date_ok != false; else elseTemplate">
    <div id="wrapper-admin">
        <div id="content-wrapper-admin" class="d-flex justify-content-center">
            <div class="container">
                <div class="login-admin">
                    <h1 class="title-login-user">Alteração da Password</h1>
                    <div class="login-user-back">
                        <div class="d-flex justify-content-center">
                            <img class="img-fluid logo mb-3" src="http://localhost:4200/assets/img/logo.png">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-center">
                                    <div class="row mb-3">
                                        <div class="form-floating ">
                                            <input [(ngModel)]="user_new_recover_password" type="password"
                                                class="form-control form-login" name='user_new_recover_password'
                                                id='user_new_recover_password' placeholder="Insira a sua password"
                                                (keydown)="step_progress_bar_change_user_pw()"
                                                (keyup)="step_progress_bar_change_user_pw()"
                                                data-bs-toggle="popover_recover_pw"
                                                data-bs-content="No minimo 8 caracteres, uma letra minúscula, uma maiúscula, um número e um caractere especial.">
                                            <label class="text-admin">Insira a sua password</label>
                                            <span class="helper-error" *ngIf="user_new_recover_password ==''">*A nova
                                                password é obrigatória.</span>
                                            <span class="helper-error"
                                                *ngIf="user_new_recover_password != '' && user_new_recover_password_strength < 3">*A
                                                força da password necessita de ser pelo menos 60%</span>
                                            <br
                                                *ngIf="user_new_recover_password != '' && user_new_recover_password_strength < 3">
                                            <span class="helper-error"
                                                *ngIf="user_new_recover_password != '' && user_new_recover_password.length < 8">*A
                                                password necessita de ter pelo menos 8 caracteres</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="row mb-3">
                                        <div class="form-floating ">
                                            <input type="password" class="form-control form-login"
                                                [(ngModel)]="user_confirm_new_recover_password"
                                                id="user_confirm_new_recover_password" placeholder="Confirmar password">
                                            <label class="text-admin">Confirmar Password</label>
                                            <span class="helper-error"
                                                *ngIf="user_confirm_new_recover_password != user_new_recover_password">*As
                                                passwords não coincidem.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" id="progress-pw"
                                        [style.width.%]="widthVal" aria-valuenow="0" aria-valuemin="0"
                                        aria-valuemax="100">15%</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-center">
                                        <button type="button" class="btn btn-first" (click)="recover_password()">
                                            <fa-icon [icon]="faKey"></fa-icon>&nbsp;&nbsp;Alterar
                                            Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div id="wrapper-admin">
        <div id="content-wrapper-admin" class="d-flex justify-content-center">
            <div class="container">
                <div class="login-admin">
                    <h1 class="title-login-user">Alteração da Password</h1>
                    <div class="login-user-back">
                        <div class="d-flex justify-content-center">
                            <img class="img-fluid logo mb-3" src="http://localhost:4200/assets/img/logo.png">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-center">
                                    <div class="alert alert-danger" role="alert">
                                        O tempo para a alteração da password expirou
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>